# file: /etc/udev/rules.d/launchpad_link.rules
# (overrides all other rules)

BUS!="usb", ACTION!="add", SUBSYSTEM!=="usb_device", GOTO="ll_rules_end"

# msp430 launchPad
# idVendor           0x0451 Texas Instruments, Inc.
# idProduct          0xf432 eZ430 Development Tool
# iManufacturer           1 Texas Instruments
# iProduct                2 Texas Instruments MSP-FET430UIF
ATTRS{idVendor}=="0451", ATTRS{idProduct}=="f432", MODE="0666", GROUP="plugdev"

# stelaris launchPad
# idVendor           0x1cbe Luminary Micro Inc.
# idProduct          0x00fd
# iManufacturer           1 Texas Instruments
# iProduct                2 In-Circuit Debug Interface
ATTRS{idVendor}=="1cbe", ATTRS{idProduct}=="00fd", MODE="0666", GROUP="plugdev"

# stm32 discovery board with linkv1 (STM32VL)
# idVendor           0x0483 SGS Thomson Microelectronics
# idProduct          0x3744
# iManufacturer           1 STMicroelectronics
# iProduct                2 STM32 STLink
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="3744", MODE="0666", GROUP="plugdev", SYMLINK+="stlinkv1_%n"

# stm32 discovery board with linkv2 (STM32L, STM32F4)
SUBSYSTEMS=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="3748", MODE="0666", GROUP="plugdev", SYMLINK+="stlinkv2_%n"

# idVendor           0x1366 SEGGER
# idProduct          0x0101 J-Link ARM
# iManufacturer           1 SEGGER
# iProduct                2 J-Link
ATTRS{idProduct}=="0101", ATTRS{idVendor}=="1366", MODE="666", GROUP="plugdev"
ATTRS{idProduct}=="0102", ATTRS{idVendor}=="1366", MODE="666", GROUP="plugdev"
ATTRS{idProduct}=="0103", ATTRS{idVendor}=="1366", MODE="666", GROUP="plugdev"
ATTRS{idProduct}=="0104", ATTRS{idVendor}=="1366", MODE="666", GROUP="plugdev"
ATTRS{idProduct}=="0105", ATTRS{idVendor}=="1366", MODE="666", GROUP="plugdev"

LABEL="ll_rules_end"

# note:
#	you can replace MODE="0666" with "0660" and add
#	OWNER:="yourusername" to create the device owned by you, or with
#	GROUP:="somegroupname" and manage access using standard unix groups
#
# add user to the "access external storage devices" group 
# (sudo groupadd plugdev)
# sudo usermod -a -G plugdev USERNAME
#
# troubleshooting:
# udevadm info -a -n /dev/ttyACM0
